<h1>Enkel voor beheerders!</h1>

<div *ngIf="users.length > 0">    
    <p-dataTable [value]="users" sortMode="multiple" [globalFilter]="gb" #dt [rows]="20" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" 
                 [multiSortMeta]="sortFields">
        <p-header>           
            <span class="pull-right search-group"><i class="fa fa-search"></i><input #gb type="text" class="form-control search-input" placeholder="Filter user"></span>
        </p-header>
        <p-footer>
            <div class="btn btn-outline-primary btn-sm pull-left" (click)="toggleIds()">Toggle ids</div>            
        </p-footer>
        <p-column field="id" header="Id" [sortable]="true" styleClass="admin-id-col" [hidden]="hideId"></p-column>
        <p-column field="userName" header="Name" [sortable]="true" styleClass="admin-userName-col"></p-column>
        <p-column field="email" header="Email" [sortable]="true" styleClass="admin-email-col"></p-column>
        <p-column field="gender" header="Gender" styleClass="admin-gender-col">
            <ng-template let-col let-user="rowData" pTemplate="body">
                <i class="fa" [ngClass]="{ 'fa-mars': user[col.field] == Gender.MALE,'fa-venus': user[col.field] == Gender.FEMALE,'fa-genderless': user[col.field] == Gender.UNKNOWN }"></i>
            </ng-template>
        </p-column>   
        <p-column *ngFor="let role of roles" header="{{role}}" styleClass="admin-role-col">
            <ng-template let-user="rowData" pTemplate="body">
                <label *ngIf="!user.locked" class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [checked]="user.isInRole(role)" (change)="changeRole(user,role,$event)">
                    <span class="custom-control-indicator"></span>
                </label>
                <i *ngIf="user.locked" class="fa fa-circle-o-notch fa-spin"></i>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>

<div *ngIf="flags">
    <div class="flag" *ngFor="let flag of flags" pTooltip="{{flag.country}}">
        <img class="img-fluid" src="assets/images/flags/{{flag.code}}.svg" />
    </div>

</div>