
.flag {
    display: inline-block;
    position: relative;
    margin-right: 1%;
    margin-top: 1em;
    
}

.flag > img {
    border: 1px solid black;
    width: 80px;
    height: 60px;
    border-radius: 5%;
    opacity: .5;
}

.flags {
    
    margin: 0 600px;
}

.flag-score {
    display: block;
    position: absolute;    
    left: 50%;
    top: 10px;
    color: black;
    font-weight: bold;
    font-size: 20pt;
}

.flag-score-inner {
    position: relative;
    left: -50%;    
}