

<div class="container" class="text-center">
    <div *ngIf="country">
        <h1>
            <img src="assets/images/flags/{{country.code}}.svg" alt="flag from {{country.country}}" class="rounded img-fluid" />
             <span>{{country.country}}</span>
             <img src="assets/images/flags/{{country.code}}.svg" alt="flag from {{country.country}}" class="rounded img-fluid" />
        </h1>
        <h3>{{country.song}}</h3>
        <h6>{{country.artist}}</h6>

        <hr/>
        
        <!-- Song Not Yet Confirmed -->
        <div *ngIf="!country.confirmed">
            <div class="box box-act">
                <p class="text-center">Act: {{myScore.actScore}}</p>
                <p-slider [(ngModel)]="myScore.actScore" [min]="slider.min" [max]="slider.max" [animate]="slider.animate" 
                [disabled]="slider.disabled" [styleClass]="slider.styleClass"></p-slider>
            </div>
            <div class="box box-song">
                <p class="text-center">Lied: {{myScore.songScore}}</p>
                <p-slider [(ngModel)]="myScore.songScore" [min]="slider.min" [max]="slider.max" [animate]="slider.animate" 
                [disabled]="slider.disabled" [styleClass]="slider.styleClass"></p-slider>
            </div>
            <div class="box box-voice">
                <p class="text-center">Stem: {{myScore.voiceScore}}</p>
                <p-slider [(ngModel)]="myScore.voiceScore" [min]="slider.min" [max]="slider.max" [animate]="slider.animate" 
                [disabled]="slider.disabled" [styleClass]="slider.styleClass"></p-slider>
            </div>
        </div>



        <!-- Song Already confirmed -->
        <div *ngIf="country.confirmed">
            Here be scores!
        </div>
    </div>
   

    <button type="button" class="btn btn-success" (click)="saveScore()">Opslaan</button>
    <a routerLink="/eurosong" class="btn btn-primary">Keer terug naar overzicht</a>
</div>
