

<div class="container" class="text-center">
    <div *ngIf="country">
        <h1>
            <img src="assets/images/flags/{{country.code}}.svg" alt="flag from {{country.country}}" class="rounded img-fluid" />
             <span>{{country.country}}</span>
             <img src="assets/images/flags/{{country.code}}.svg" alt="flag from {{country.country}}" class="rounded img-fluid" />
        </h1>
        <h3>{{country.song}}</h3>
        <h6>{{country.artist}}</h6>

        <hr/>
        
        <!-- Song Not Yet Confirmed -->
        <div *ngIf="!country.confirmed">
            <div class="box box-act">
                <p class="text-center">Act: {{myScore.actScore}}</p>
                <p-slider [(ngModel)]="myScore.actScore" [min]="slider.min" [max]="slider.max" [animate]="slider.animate" 
                [disabled]="slider.disabled" [styleClass]="slider.styleClass"></p-slider>
            </div>
            <div class="box box-song">
                <p class="text-center">Lied: {{myScore.songScore}}</p>
                <p-slider [(ngModel)]="myScore.songScore" [min]="slider.min" [max]="slider.max" [animate]="slider.animate" 
                [disabled]="slider.disabled" [styleClass]="slider.styleClass"></p-slider>
            </div>
            <div class="box box-voice">
                <p class="text-center">Stem: {{myScore.voiceScore}}</p>
                <p-slider [(ngModel)]="myScore.voiceScore" [min]="slider.min" [max]="slider.max" [animate]="slider.animate" 
                [disabled]="slider.disabled" [styleClass]="slider.styleClass"></p-slider>
            </div>
        </div>



        <!-- Song Already confirmed -->
        <div *ngIf="country.confirmed">
            <table class="table table table-bordered table-dark mx-auto">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Act</th>
                    <th scope="col">Lied</th>
                    <th scope="col">Zang</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{myScore.userName}}</th>
                    <td [ngClass]="{'text-danger': myScore.actScore === bounds.min_act, 'text-success': myScore.actScore === bounds.max_act, 
                                                    'font-weight-bold': myScore.actScore === bounds.min_act || myScore.actScore === bounds.max_act}">
                        {{myScore.actScore}}
                    </td>
                    <td [ngClass]="{'text-danger': myScore.songScore === bounds.min_song, 'text-success': myScore.songScore === bounds.max_song, 
                                                    'font-weight-bold': myScore.songScore === bounds.min_song || myScore.songScore === bounds.max_song}">
                        {{myScore.songScore}}
                    </td>
                    <td [ngClass]="{'text-danger': myScore.voiceScore === bounds.min_voice, 'text-success': myScore.voiceScore === bounds.max_voice, 
                                                    'font-weight-bold': myScore.voiceScore === bounds.min_voice || myScore.voiceScore === bounds.max_voice}">
                        {{myScore.voiceScore}}
                    </td>
                    <td class="font-weight-bold" [ngClass]="{'text-danger': myScore.voiceScore + myScore.songScore + myScore.actScore === bounds.min_total, 'text-success': myScore.voiceScore + myScore.songScore + myScore.actScore === bounds.max_total, 
                                                                            'font-weight-bold': myScore.voiceScore + myScore.songScore + myScore.actScore === bounds.min_total || myScore.voiceScore + myScore.songScore + myScore.actScore === bounds.max_total}">
                        {{myScore.voiceScore + myScore.songScore + myScore.actScore}}
                    </td>
                </tr>
                  <tr *ngFor="let score of country.scores">
                    <th scope="row">{{score.userName}}</th>
                    <td [ngClass]="{'text-danger': score.actScore === bounds.min_act, 'text-success': score.actScore === bounds.max_act, 
                                                    'font-weight-bold': score.actScore === bounds.min_act || score.actScore === bounds.max_act}">
                        {{score.actScore}}
                    </td>
                    <td [ngClass]="{'text-danger': score.songScore === bounds.min_song, 'text-success': score.songScore === bounds.max_song, 
                                                    'font-weight-bold': score.songScore === bounds.min_song || score.songScore === bounds.max_song}">
                        {{score.songScore}}
                    </td>
                    <td [ngClass]="{'text-danger': score.voiceScore === bounds.min_voice, 'text-success': score.voiceScore === bounds.max_voice, 
                                                    'font-weight-bold': score.voiceScore === bounds.min_voice || score.voiceScore === bounds.max_voice}">
                        {{score.voiceScore}}
                    </td>
                    <td class="font-weight-bold" [ngClass]="{'text-danger': score.voiceScore + score.songScore + score.actScore === bounds.min_total, 'text-success': score.voiceScore + score.songScore + score.actScore === bounds.max_total, 
                                                                            'font-weight-bold': score.voiceScore + score.songScore + score.actScore === bounds.min_total || score.voiceScore + score.songScore + score.actScore === bounds.max_total}">
                        {{score.voiceScore + score.songScore + score.actScore}}
                    </td>
                  </tr>                  
                </tbody>
              </table>
        </div>
    </div>
   

    <hr />
    <button *ngIf="!country.confirmed" type="button" class="btn btn-success mr-3" (click)="saveScore()">Opslaan</button>
    <a routerLink="/eurosong" class="btn btn-primary">Keer terug naar overzicht</a>
</div>
