.ng-valid.ng-dirty:not(form):not(div), 
.ng-valid.ng-touched:not(form):not(div) 
{
  border-left: 5px solid #42A948; /* green */
}

.ng-pending.ng-dirty:not(form):not(div),
.ng-pending.ng-touched:not(form):not(div) 
{
  border-left: 5px solid rgb(247, 210, 91); /* orange */
}

.ng-invalid.ng-dirty:not(form):not(div),
.ng-invalid.ng-touched:not(form):not(div)
{
  border-left: 5px solid #a94442; /* red */
}

.custom-control.custom-radio {
  display: block;
}

.custom-select.ng-invalid~.invalid-feedback,
.custom-select.ng-invalid~.invalid-tooltip, 
.form-control.ng-invalid~.invalid-feedback, 
.form-control.ng-invalid~.invalid-tooltip,
.custom-control-input.ng-invalid~.invalid-feedback, 
.custom-control-input.ng-invalid~.invalid-tooltip {
  color: #a94442;
  display:block;
}